<app-header></app-header>
<section class='per-height-viewport per-cover-background per-position-relative per-flex per-flex-middle per-overflow-hidden sepia_overlay container'>
  <div class='per-container per-container-center per-width-1-1 per-text-center per-position-relative container_block'>

    <div class='container_block'>
      <h1 class='per-h1 container_title'>Software</h1>
      <h2 class='per-h2 container_subtitle'>Development & Consultancy</h2>
      <div class='container_description'>Hi, I'm Niranjan,<br>
        A software developer with interactive and creative web designing.
      </div>
      <div class='per-position-relative per-margin-large-bottom per-width-1-1 container_button'>
        <a href="mailto:niranjanmaharana95@gmail.com"><button data-ng-click='scrollNav($event)' class='per-button'>Send Message</button></a>
        <a terget='_blank' href="../../../assets/resume/Resume.pdf"><button data-ng-click='scrollNav($event)' class='per-button'>Download Resume</button></a>
      </div>
    </div>

  </div>
  <div data-ng-click='scrollNav($event)' class='per-icon-angle-down container_arrow'></div>
</section>
<app-footer></app-footer>
