@import "app/style/fonts/roboto.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@font-face {
    font-family: 'robotoregular';
    src: url('./app/style/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2');
    src: url('./app/style/fonts/KFOmCnqEu92Fr1Mu4WxKOzY.woff2');
    src: url('./app/style/fonts/KFOmCnqEu92Fr1Mu5mxKOzY.woff2');
    src: url('./app/style/fonts/KFOmCnqEu92Fr1Mu72xKOzY.woff2');
    src: url('./app/style/fonts/KFOmCnqEu92Fr1Mu7GxKOzY.woff2');
    src: url('./app/style/fonts/KFOmCnqEu92Fr1Mu7mxKOzY.woff2');
    src: url('./app/style/fonts/KFOmCnqEu92Fr1Mu7WxKOzY.woff2');
}
@font-face {
  font-family: 'Allura';
  src: url('./app/style/fonts/9oRPNYsQpS4zjuA_hQgWDto.woff2');
  src: url('./app/style/fonts/9oRPNYsQpS4zjuA_iwgW.woff2');
}
body {
  background: #fff;
  font: normal 17px Arial, sans-serif;
  color: #000;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/page-header.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.f15{font-size: 15px;}
